.cartLink {
    border-radius: 16px;
    background-color: rgba(0,0,0,0.4);
    color: white;
    padding: 0.5rem 2rem;
}

.cartButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 678px) {
    .cartButton {
        align-items: center;
    }
}

.badge {
    min-width: 3rem;
    border-radius: 12px;
    padding: 4px 14px;
    background-color: rgb(171, 134, 206);
}